// Vista Desktop
@import "util";

body {
}

main {
  margin: rem(70px);
  max-width: 90%;
  section#head {
    max-width: 45%;
    align-self: center;
    margin-bottom: rem(50px);
  }
  ul {
    justify-content: center;
    align-content: center;
    li {
      max-height: rem(250px);
      justify-content: flex-start;
      align-items: flex-start;
      margin: rem(15px) rem(15px);
      padding: rem(25px) rem(30px);
      background-color: white;
      border-radius: rem(5px);
      box-shadow: rem(5px) rem(5px) rem(20px) rem(-10px) black;
      h2 {
      }
      p {
      }
      img {
        align-self: flex-end;
        margin-top: rem(40px);
      }

      flex-basis: 30%;
      &:nth-child(1) {
        position: relative;
        top: rem(125px);
      }
      &:nth-child(2) {
      }
      &:nth-child(3) {
        position: relative;
        top: rem(125px);
      }
      &:nth-child(4) {
      }
    }
  }
}

footer {
  flex-basis: 100%;
  align-self: flex-end;
}
